@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

$nav-padding: 103px;
$nav-padding-mobile: 83px;
$white-glass: rgba(255, 255, 255, 0.3);
$white-glass-hover: rgba(255, 255, 255, 0.1);
$black-glass: rgba(0, 0, 0, 0.2);
$purple-glass: rgba(71, 57, 81, 0.38);
$white: rgb(221, 218, 214);

@mixin gloss {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $white;
}

html,
body {
	min-height: 100%;
	background: #473951;
}

a {
	color: mediumpurple;
	transition: all 0.2s;

	&:hover {
		color: #9370d890;
	}
}

.page {
  font-family: sans-serif;

	.container {
		max-width: 900px;
		margin: auto;
	}

	main {
		padding-top: $nav-padding;
	}

	nav {
		@include gloss;
		background: $purple-glass;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		z-index: 1000;
		top: 0;
		width: 100%;
		padding: 30px;

		.gloss {
			.donut-container {
				.donut {
					border-radius: 50%;
					cursor: pointer;
					transition: all 0.2s;
					border-style: inset;
		
					&:hover {
						border-color: mediumpurple;
					}
				}
			}
	
			#burger-menu {
				display: none;
			}
		}

		.rightside-nav {
			display: flex;
			align-items: center;
			font-family: 'Fira Code', monospace;
			font-size: 0.9em;

			.section-nav {
				display: flex;
				border-right: 1px solid rgba(221, 218, 214, 0.8);

				p {
					cursor: pointer;
					margin-right: 2rem;
					transition: all 0.2s;

					&:hover {
						color: mediumpurple;
					}

					span {
						color: mediumpurple;
						margin-right: 0.5rem;
					}
				}
			}

			.nav-links {
				margin-left: 2rem;
				z-index: 3;
				display: flex;
				align-items: center;
				list-style: none;
	
				button {
					padding: 8px 12px;
				}
	
				.nav-link-item {
					padding-right: 2rem;
					
					.nav-link-text {
						color: $white;
						// color: black;
						text-decoration: none;
						transition: all 0.2s;
						
						&:hover {
							color: mediumpurple;
						}
					}
				}
			}
		}
	}

	.overlay {
		position: fixed;
		bottom: 0px;
		z-index: 10;

		.stem {
			border-left: 2px solid #9370d880;
			height: 120px;
		}
	}

	.left-overlay {
		display: flex;
		flex-direction: column;
		margin-left: 40px;

		.mobile {
			display: none;
		}

		.left-stem {
			margin-left: 12px;
		}

		a {
			text-decoration: none;
			cursor: pointer;
			color: mediumpurple;
			max-width: 40px;
			font-family: 'Fira Code', monospace;
			margin-bottom: 0.5rem;
			
			.icon > path {
				color: mediumpurple;
				transition: all 0.2s;
			}

			&:hover {
				.icon > path {
					color: #eeeeee;
				}
			}
		}
		
		ul {
			.mobile {
				display: none;
			}

			li {
				&:nth-child(2) {
					padding: 10px 0;
				}

				a {
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}

	.right-overlay {
		right: 40px;

		.right-stem {
			margin-left: 10px;
		}

		a {
			text-decoration: none;
			font-family: 'Fira Code', monospace;
			display: block;
			padding-bottom: 1rem;
			writing-mode: vertical-rl;

			&:hover {
				opacity: 0.6;
				color: #eeeeee;
			}
		}
	}

	// navbar query
	@media only screen and (max-width: 1024px) {
		main {
			padding-top: $nav-padding-mobile;
		}

		nav {
			backdrop-filter: none;
			padding: 0;

			.gloss {
				@include gloss;
				background: $purple-glass;
				padding: 20px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;

				#burger-menu {
					height: 20px;
					width: 30px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: space-between;
					cursor: pointer;
	
					.burger-bar {
						width: 100%;
						height: 3px;
						background-color: $white;
						border-radius: 0.5em;
	
						&.unclicked {
							transform: rotate(0) translate(0);
							transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
						}
	
						&.clicked {
							&:nth-child(1) {
								transform: rotate(45deg) translate(6px, 6px);
								transition: ease-out 0.2s;
							}
	
							&:nth-child(2) {
								transform: scale(0);
								transition: ease-out 0.2s;
							}
	
							&:nth-child(3) {
								transform: rotate(135deg) translate(-6px, 6px);
								transition: ease-out 0.2s;
							}
						}
					}
				}
			}

			.rightside-nav {
				@include gloss;
				margin: 0.5rem;
				border-radius: 8px;
				background: $black-glass;
				align-items: flex-end;
				flex-direction: column-reverse;
				position: fixed;
				top: 83px;
				right: 0;
				text-align: right;
				padding: 1rem 1.5rem;

				.section-nav {
					flex-direction: column;
					border: none;
					gap: 1rem;
					padding-top: 1rem;
					border-top: 1px solid $white;

					p {
						margin: 0;
					}
				}

				.nav-links {
					width: 100%;
					flex-direction: column;
					align-items: flex-end;
					gap: 1rem;
					margin: 0;
					padding-bottom: 1rem;
					
					.nav-link-item {
						padding: 0;
					}
				}

				&.hidden {
					display: none;
				}

				&.visible {
					display: flex;
				}
			}
		}

		.left-overlay {
			margin-left: 0.5rem;
	
			.mobile {
				display: block;
				padding-bottom: 1rem;
				margin:	0;
				writing-mode: vertical-rl;
	
				&:hover {
					opacity: 0.9;
				}
			}
		}
	
		.right-overlay {
			display: none;
		}
	}
}