html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 600px;
  font-family: sans-serif;
	padding-top: 3rem;

	.site-title {
		font-size: 3rem;
		color: gray;
		font-weight: 700;
		margin-bottom: 3rem;
	}

	.heading {
		color: rebeccapurple;
	}
	
	.nav-links {
		display: flex;
		list-style: none;
		padding-left: 0;

		.nav-link-item {
			padding-right: 2rem;

			.nav-link-text {
				color: black;
			}
		}
	}
}