$white-glass: rgba(255, 255, 255, 0.3);
$white-glass-hover: rgba(255, 255, 255, 0.1);
$black-glass: rgba(0, 0, 0, 0.4);

@mixin gloss {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	border-radius: 6px;
	background: $white-glass;
	padding: 1rem;
}

// * {
// 	transition: all 0.2s;
// }

html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: lavender;
}

.container {
  margin: auto;
  max-width: 600px;
  font-family: sans-serif;
	padding-top: 3rem;

	main {
		@include gloss;
	}

	.site-title {
		@include gloss;
		font-size: 3rem;
		color: gray;
		font-weight: 700;
		margin-bottom: 1rem;
		// cursor: default;
		transition: all 0.2s;

		.title {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.chevron {
				background: $black-glass;
				border-radius: 6px;
				color: white;
			}

			.tag {
				.closing-tag {
					// transition: all 0.2s;

					&.expanded {
						visibility: hidden;
					}
				}
			}
		}

		.props {
			display: none;

			&.expanded {
				display: block;
			}

			pre {
				margin: 0;
				font-size: 1rem;
			}
		}
	}

	.heading {
		color: rebeccapurple;
	}
	
	.nav-links {
		@include gloss;
		display: flex;
		list-style: none;

		.nav-link-item {
			padding-right: 2rem;

			.nav-link-text {
				color: black;
			}
		}
	}
}