$white-glass: rgba(255, 255, 255, 0.3);
$white-glass-hover: rgba(255, 255, 255, 0.1);
$black-glass: rgba(0, 0, 0, 0.4);

@mixin gloss {
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background: $white-glass;
}

.home-page {
	.body {
		padding: 3rem 2rem;

		.intro {
			height: calc(100vh - 124px - 3rem);

			.hello {
				font-family: 'Fira Code', monospace;
			}

			.site-title {
				font-size: 4rem;
				color: rebeccapurple;
				font-weight: 700;
				margin-bottom: 1rem;
				// cursor: default;
				transition: all 0.2s;
		
				.title {
					display: flex;
					align-items: center;
					justify-content: space-between;
		
					.chevron {
						background: $black-glass;
						border-radius: 6px;
						color: white;
						cursor: pointer;
						transition: all 0.2s;
		
						&:hover {
							opacity: 0.8;
						}
					}
		
					.tag {
						.closing-tag {
							// transition: all 0.2s;
		
							&.expanded {
								visibility: hidden;
							}
						}
					}
				}
		
				.props {
					display: none;
		
					&.expanded {
						display: block;
					}
		
					pre {
						margin: 0;
						font-size: 1rem;
					}
				}
			}

			.i-am {
				font-size: 4rem;
				opacity: 0.8;
				margin: 2rem 0 3rem 0;
			}

			.brief {
				font-family: 'Fira Code', monospace;
			}
		}

	}
}